* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-size: 62.5%;
}

body {
    position: relative;
    font-size: 1.4rem;
    min-height: 100%;
    padding-bottom: 13rem;
}

h1,
h2,
h3,
h4 {
    color: #8B3144;
    font-family: 'Fjord', 'Poppins';
}

h1 {
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0;
}

h2 {
    font-size: 3rem;
    margin: 1rem 0;
}

h3 {
    font-size: 2rem;
    margin: 1rem 0;
}

@font-face {
    font-family: "Fjord";
    src: local("Fjord-Bold"), url("../assets/fonts/Fjord-Bold.otf") format(opentype);
}

p {
    font-family: 'Avenir', 'Roboto';
    text-align: justify;
    line-height: 3rem;
}

p>a {
    color: #8B3144;
    font-weight: bold;
}

p>a:hover {
    text-decoration: underline;
}

.btn {
    border: 0;
    padding: 1.4rem 2.4rem;
    border-radius: 14px;
    cursor: pointer;
    background-color: #ffa578;
    color: black;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #8B3144;

}

.btn:hover>a {
    color: white;
}

.btn a {
    font-family: 'Avenir';
    color: black;
    font-size: 1.4rem;
    font-weight: 500;
}

img {
    border-radius: 25px;
}

.success_flash{
    background-color: rgb(75, 168, 75, 0.3);
    padding: 1rem;
    font-size: 1.5rem;
}

/***** NAVBAR*****/
.navbar_desktop {
    display: none;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_mobile_container {
    background-color: white;
    border-bottom: 0.1rem #8B3144 solid;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar_mobile {
    height: 7rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 1.5rem;
}

.navbar_mobile .logo {
    width: 15rem;
}

.menuIcons {
    z-index: 9999;
    border-radius: 1rem;
}

#burgerIcon,
#closeIcon {
    width: 3rem;
}

.modal {
    position: fixed;
    z-index: 999;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #8B3144;
    top: 0;
    right: 0;
    width: 100%;
}

.modal a {
    padding: 2rem;
    color: white;
    font-size: 4rem;
    font-family: 'Avenir', Roboto, monospace
}

.modal a:active {
    background-color: white;
    color: #8B3144;
}

.hidden {
    display: none;
}

/*rendre bouton actif
.active{
  background-color: white;
}

.onglet.active{
  color: #8B3144;
  text-decoration: underline;
}*/

/*****FOOTER*****/
.footer_container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #8B3144;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerlinks_container a {
    font-family: 'Avenir';
    color: white;
}

.footerlinks_container a,
.socialicons_container a {
    margin-left: 2rem;
}

.socialicons_container img {
    width: 3rem;
}

.decoration_footer {
    display: none;
}

/*****HOME*****/
/**HEROHEADER**/
.heroheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}

.heroheader #title_desktop {
    display: none;
}

.heroheader .bcg_vitrine {
    width: 100%;
    height: 300px;
    background-image: url(/assets/img/Background.jpg);
    background-position: top;
    background-attachment: fixed;
    background-size: contain;
    background-repeat: no-repeat;
}

.heroheader .vitrine{
    display: none;
}

.text_heroheader {
    margin: 0 6rem;
}

.heroheader_btn_container {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
}

.btn_personnalisation {
    background-color: #ff9784;
    margin-top: 3rem;
}


/**NEWS**/
.news {
    background-color: rgba(255, 165, 120, 0.09);
    padding: 5rem 0;
    position: relative;
    text-align: center;
}

.infos_news {
    margin: 0 6rem;
}

.carousel_container {
    text-align: center;
    margin-bottom: 2rem;
}

.img-carousel {
    width: 200px;
    height: auto;
}

.decoration_up {
    z-index: 1;
    width: 13rem;
    height: 13rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(/assets/img/Bubbles.png);
    position: absolute;
    right: 0.5rem;
    top: -4rem;
}

.decoration_down {
    display: none;
}

/*CAROUSEL*/
.carousel {
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.panorama {
    transition: transform 0.3s;
    margin: auto;
    display: flex;
    align-items: center;
}

.panorama::after {
    content: '';
    clear: both;
    display: table;
}

.carousel-item {
    float: left;
}

.carousel-next,
.carousel-previous {
    position: absolute;
    width: 40px;
    height: 40px;
    background-size: 30px 30px;
    border-radius: 50%;
    background-color: rgb(75, 168, 75, 0);
    border: none;
    top: 50%;
    margin-top: -20px;
    right: 2rem;
    cursor: pointer;
    transition: transform 0.3s;
}

.carousel-next:hover,
.carousel-previous:hover {
    transform: scale(1.1);
}

.carousel-previous {
    right: auto;
    left: 2rem;
}


/**EXPO**/
.expo {
    padding: 5rem 0;
}

.infos_expo {
    display: flex;
    flex-direction: column;
    margin: 0 6rem;
    text-align: center;
}

.infos_expo .flyer {
    text-align: center;
    width: 100%;
    border-radius: 0;
    margin: 1rem;
}

.text-expo .email_container{
    display: block;
}

.text-expo .email_container .form_email_container{
    margin-left: 0;
    margin-top: 1rem;
}
.text-expo .email_container button{
    padding: 1rem 1.5rem;
}


/*****VITRINES*****/
.page_vitrines {
    margin: 5rem 6rem;
}

.vitrines_container {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

.filter_container {
    border: 1px solid #ffa578;
    border-radius: 15px;
    padding: 0.5rem 1.5rem;
    line-height: 3rem;
}

.filter_container > form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 2rem;
}

.filter_container>p {
    font-size: 1.8rem;
    font-weight: 700;
}

.filter_container label {
    font-family: 'Avenir';
    margin-right: 1rem;
}

.btn_filter, .btn_filter > a{
    background-color: rgb(255, 255, 255);
    color: #ffa578;
    font-weight: 600;
    font-size: 1.6rem;
    padding: 0.5rem;

}

.btn_filter > a{
    color: #8B3144;
    padding: 0;
    font-size: 1.4rem;
}

.btn_filter:hover, .btn_filter > a:hover{
    background-color: rgb(255, 255, 255);
    color: #8B3144;
    text-decoration: underline;
}


.cards_vitrines_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    border: 1px solid rgba(0, 0, 0, .1);
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .2);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    width: 30rem;
}

.img_card {
    width: 90%;
    margin-top: 1rem;
    border-radius: 5px;
}

.title_vitrine,
.price_vitrine,
.link_detail_vitrine {
    font-size: 1.6rem;
}

.title_vitrine,
.link_detail_vitrine {
    margin: 2rem 0 0.3rem;

}

.price_vitrine {
    font-weight: 700;
}

.btn_detail_vitrine {
    background-color: white;
    border: none;
    padding: 0.5rem 1.5rem;
    margin: 0.5rem;
}

.btn_detail_vitrine:hover {
    transform: scale(1.05);
}

.link_detail_vitrine {
    color: #ffa578;
    font-family: "Avenir";
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.eye_png {
    margin-right: 1rem;
}

/*****1 VITRINE*****/
.showdetail_page{
    margin: 6rem;
}
.detail_container{
    display: flex;
}

.img_detail{
    width: 50%;
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.detail_title_vitrine{
    text-align: start;
    margin: 0 0 2rem;
}

.detail_container > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.detail_price_vitrine{
    font-size: 2rem;
    font-weight: 600;
}

.btn_contact{
    background-color: #ff9784;
    margin-top: 1rem;
}

.btn_back{
    background-color: white;
    border: 1px solid #ffa578;
}

.btn_back:hover{
    background-color: white;
    border: 1px solid #8B3144;
}

.btn_back:hover > a{
    color: #8B3144;
}

/*****PERSONNALISATION*****/
.page_perso {
    margin: 5rem 6rem;
}

.perso_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.perso_container > h3{
    margin: 3rem 0;
}

.img_personalization_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    margin-bottom: 2rem;
}

.img_personalization_container div{
    padding: 1rem;
}

.img_personalization_container p{
    text-align: center;
    font-weight: 600;
}


.img_personalization{
    width: 50rem;
}



/*****EXPOSITION*****/
.page_expo {
    margin: 5rem 6rem;
}

.expo_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text_expo {
    text-align: center;
    margin-top: 5rem;
}

.expo_container .flyer {
    text-align: center;
    width: 100%;
    border-radius: 0;
    margin-top: 5rem;
}

.caption {
    text-align: center;
}

iframe {
    display: none;
}

.email_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
}

.form_email_container {
    text-align: center;
}

.input_email {
    background-color: rgba(255, 165, 120, 0.09);
    border: none;
    border-radius: 10px;
    padding: 0.7rem;
    width: 100%;
    margin: 1rem 0;
}

.btn_mail {
    background-color: #ffa578;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 1.4rem;
    padding: 1rem 2.5rem;
}

.succes {
    color: #8B3144;
    font-size: 2rem;
    text-align: center;
    margin-top: 5rem;
}

/*****CONTACT*****/
.contact_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5rem 6rem;
}

.coordonnees_container {
    text-align: center;
}

.coordonnees_container .btn {
    margin: 3rem 0;
}


/***FORM***/
.form_container {
    margin: 5rem 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

 label {
    font-family: 'Avenir';
    font-size: 1.6rem;
    color: black;
}

.input {
    width: 100%;
    height: 4rem;
    background-color: rgba(255, 165, 120, 0.09);
    border: none;
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.textarea {
    height: 13rem;
    resize: none;
}

.checkbox {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 2rem;
}

.checkbox label {
    padding-right: 1rem;
    line-height: 2rem;
}

.error {
    color: red;
    font-family: 'Avenir';
    font-weight: 500;
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
}


.btn_form {
    font-family: 'Avenir';
    background-color: #ffa578;
    font-weight: 500;
    font-size: 1.4rem;
    width: 100%;
}

/*****FAQ*****/
.faq_container {
    margin: 5rem 6rem;

}

.faq{
    margin-top: 3rem;
}


.question {
    background-color: #8B3144;
    border-top: 0.2px white solid;
    border-radius: 0.5rem;
    color: white;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    padding: 1rem;
}

.response {
    border: 1px #8B3144 solid;
    border-radius: 0.5rem;
    display: none;
    padding: 2rem 1rem;
}

.visible {
    display: block;
}

.chevron-up {
    transform: rotate(180deg)
}





/****DASHBOARD****/
.dashboard_container {
    margin: 3rem 10rem;
    display: flex;
    align-items: flex-start;
}

.dashboard_vitrines{
    margin: 2rem 3rem 0;
}

.dashboard_link{
    font-family: Avenir;
    font-size: 1.6rem;
    color: black;
    text-decoration: underline;
}

.dashboard_vitrines > button{
    background-color: #ff9784;
}

.dashboard_vitrines table{
    font-family: Avenir;
    margin: 2rem auto;
    border-collapse: collapse;
}

.dashboard_vitrines th {
    background-color: #ff9784;
    padding: 0.5rem;
}

.dashboard_vitrines td {
    padding: 0 1rem;
}

.dashboard_vitrines th, td {
    border: 1px solid grey;
    border-left: none;
    border-right: none;
    text-align: center;
    min-width: 6rem;
}

.dashboard_vitrines th:last-child, td:last-child {
    border-left: 1px solid grey;
}

.img_dashboard{
    width: 15rem;
    margin-top: 1rem;
    border-radius: 0;
}

.btn_admin {
    padding: 1rem 1.4rem;
    margin: 0.5rem;
    background-color: rgb(75, 168, 75, 0);
    border: none;
}

.btn_admin:hover{
    transform: scale(1.1);
}

.btn_admin_show a {
    color: grey;
}

.btn_admin_edit a {
    color: #8B3144;
}

.btn_admin_delete {
    color: red;
    cursor: pointer;
}

/*Voir vitrine*/
.table_show_vitrine th, td{
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    border-collapse: collapse;
}
