{% for label, messages in app.flashes(['success', 'error']) %}
        {% for message in messages %}
            <div class="{{label}}_flash">
            <p>{{ message }}</p> 
            </div>
        {% endfor %}
{% endfor %}