<div class='footer_container'>
        <div class='footerlinks_container'>
            <a href="{{path('app_termsofUse')}}">Mentions légales</a>
            <a href="{{path('app_contact')}}">Contact</a>
        </div>
        <div class='socialicons_container'>
            <a href="https://www.instagram.com/lavitrinedevalerie/" target='_blank' ><img src="{{ asset('/assets/img/instagram.png') }}" alt="Instagram" /></a>
        </div>
    </div>