{% extends 'base.html.twig' %}

{% block title %}Tous les formats{% endblock %}

{% block body %}
<div class="dashboard_vitrines">

    <h1>Tous les formats</h1>
    
    <ul>
        {% for format in formats %}
        <li>{{format}} 
        <form method="post" action="{{ path('app_delete_format', {'id': format.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cet élément ?');">
            <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ format.id) }}">
            <button class="btn_admin btn_admin_delete">X Supprimer</button>
        </form>
        </li>
        

        {% endfor %}
    </ul>


    <a class="dashboard_link" href="{{ path('app_dashboard_index') }}">Retour au tableau de bord</a>
</div>

{% endblock %}
